body {
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
}

p {
  color: #8f8f8f;
}

/*HEADING*/

.big-heading{
  font-size: 3rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/*CONTAINER*/

.container-fluid {
  padding: 7% 15%;
}

/*NAVIGATION BAR*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
}

/*DOWNLOAD BUTTON*/

.download-button {
  margin: 5% 3% 5% 0;
}

/*TITTLE SECTION*/

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

.titlet{
  padding: 3% 15% 7%;
}

/*TITTLE IMAGE*/
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/*FEATURE SECTION*/

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-title{
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/*TESTIMONIALS SECTION*/
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/*PRESS SECTION*/
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*PRICING SECTION*/
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.price-col {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
}



/*FOOTER SECTION*/


.social-icon {
  margin: 20px 10px;
}



@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
